@use "../../scss/abstracts/colors" as c;
@use "../../scss/abstracts/fonts" as f;

.div-main-login {
  padding: 100px 0px 155px 0px;
  form {
    width: 30%;
    margin: auto;
    padding: 50px 10px;
    border-radius: 15px;
    color: c.$white;
    background-color: rgba(211, 211, 211, 0.237);
    font-family: f.$primary-font;
    text-align: center;

    label {
      display: block;
      text-align: start;
      padding: 10px;
      margin-left: 30px;
    }

    input {
      width: 80%;
      border-radius: 5px;
      border: none;
      background-color: rgba(255, 255, 255, 0.247);
      padding: 10px;
      outline: none;
      margin: auto;
      font-size: 17px;
      font-family: f.$primary-font;
      color: c.$white;

      &:focus {
        background-color: rgba(255, 255, 255, 0.588);
        color: c.$black;
      }
    }

    p {
      text-align: start;
      margin-left: 35px;
    }

    .p-last-login {
      text-align: end;
      margin-right: 35px;

      a {
        color: c.$white;
        text-decoration: none;
      }
    }
  }
}

.btn-login {
  padding: 12px 62px;
  background: c.$primary-gradiant;
  border: none;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 18px;
  font-family: f.$primary-font;
  cursor: pointer;
  color: c.$black;

  &:hover {
    background: c.$primary-gradiant-r;
  }
}
