$black: black;

$white: white;

$primary-gradiant: linear-gradient(
  to right,
  rgb(93, 246, 243) 1%,
  rgb(165, 152, 252)
);

$primary-gradiant-r: linear-gradient(
  to left,
  rgb(93, 246, 243) 1%,
  rgb(165, 152, 252)
);
